*.pyc
*.so
tags
*.log
./tests
docsrc/build
.coverage
tmp_data.nc
*.swp
./cover
.pypirc
*_cell_area.nc
pycmbs.egg-info
MANIFEST
*variogram_base.c
*polygon_utils.c
*nix*
*.ipynb_checkpoints*
*.old
*debuglog.txt*
air.mon.mean.nc
had4_hybrid.nc
norm.nao.monthly.b5001.current.ascii
example_data
