*.pyc
*.so
tags
*.log
./tests
docsrc/build
.coverage
tmp_data.nc
*.swp
./cover
.pypirc
*_cell_area.nc
pycmbs.egg-info
MANIFEST
*variogram_base.c
*polygon_utils.c
*nix*
*.ipynb_checkpoints*
*.old
*debuglog.txt*
