include Makefile
global-include *.md
global-include LICENSE
global-include *.rst
global-include INSTALL*
global-include *.py
global-include *.ini
global-include Phytonlogo5.pdf
global-include pyCMBS_template.cfg
global-include setup.cfg
graft tests
graft logo
graft configuration
graft docsrc
prune build
prune test_eof
prune example
graft colormaps
graft diagnostic
graft plots
prune dwd_notes
prune notes
exclude test_hov.py
exclude anova_test.py
prune dist
recursive-exclude tests devdirs
recursive-exclude emd.py
graft doc
include COPYRIGHT.md
include COPYING_netCDF4
