include README
include CHANGES
global-include *.py
global-include *.ini
global-include pyCMBS_template.cfg
graft tests
prune test_eof
prune dirk
prune example
exclude test_hov.py
exclude anova_test.py
exclude ansamp.py
prune dist
recursive-exclude tests testfile.nc devdirs
graft doc
include COPYING
include COPYING_netCDF4
